footer {
  padding: 50px 0;
  h1 {
    color: $navyBlue;
    font-weight: bold;
    font-size: 4rem;
    @media(max-width:575.98px) {
      font-size: 3rem;
    }
  }

  .footer-modal {
    li {
      &.active, &:hover {
        color: $yellow!important;
      }
    }
  }

  .footer-list {
    li {
      font-size: 2.5rem;
      color: $navyBlue;
      font-weight: bold;
      padding-bottom: 15px;
      cursor: pointer;
      position: relative;
      z-index: 9999;
      &:hover {
        a {
          color: $yellow!important;
        }
      }

      @media(max-width:575.98px) {
        font-size: 2rem;
      }

    }
  }
  .footer-list2 {
    ul li {
      padding-bottom: 20px;
      @media(max-width:575.98px) {
        font-size: .8rem;
      }
      i {
        color: $yellow;
      }
    }
  }
}

.gly-rotate-45 {
  transform: rotate(45deg);
}