$yellow: #f9df00;
$navyBlue: #505570;
$dark:  #373737;
$blue1: #4e536d;
$blue2 : #7981ab;
$white : #ffffff;
$text-bg: #f9df00;
$text-normal: #3e435d;
$text-grey: #bdbdbd;

.navy-blue {
    color: $navyBlue;
}
  
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smoothdev;
    &::-webkit-scrollbar {
        width: .7em;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
body {
    transition: all 500ms ease-in-out;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.8;
    font-weight: light;
}

.fs-08 {
    font-size: .85rem;
}

.fs-07 {
    font-size: .75rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.section-title {
    span.top-title {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: bold;
        color: #bdbdbd;
    }
    h1 {
        font-weight: 600;
        // line-height: 1.6;
        span {
            background-color: $yellow;
        }
    }
}

.btn-yellow {
    background-color: $yellow;
    padding: 20px;
    width: 230px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 500;
}


.padding-right {
    padding-right: 100px;
}
.padding-left {
    padding-left: 100px;
}



.animoTextLeft {
    height: 50px;
    width: 200px;
    text-align: center;
    overflow: hidden;
    background: $text-bg !important;
    font-size: 13px;
    font-weight: 600 !important;
    position: relative;
    line-height: 35px !important;
    color: black !important;
    text-transform: uppercase;
    border-radius: 99px !important;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: #4c4e51;
        transition: transform 0.25s ease-in;
    }
    &:hover {
        color: $white;
        &::before {
            transform: translateX(0);
        }
        span {
            animation: animButtonSpan 0.4s;
        }
    }
    span {
        position: relative;
        z-index: 1;
        display: block;
    }
}


@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    35% {
        transform: translateX(20px);
        opacity: 0;
    }

    50.001% {
        transform: translateX(-20px);
    }

    60% {
        transform: translateX(0);
    }
}


.degrade {
    font-size: 4rem;
    background: -webkit-linear-gradient(90deg, rgba(52,56,78,1) 0%, rgba(157,166,208,0.9108018207282913) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;

}

.degrade-1 {
    font-weight: 800;
    background: -webkit-linear-gradient(120deg, rgb(81, 85, 102) 0%, rgb(139, 146, 180) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-bg {
    background-color: #ea82fa;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-yellow-title {
    color: black;
}

.changed-body {
    background: #373737;
    p, h1, ul li {
        color: white;
    }
}

.title-top {
    font-size: 22px;
    color: $text-grey;
    font-weight: 600;
    text-transform: uppercase;
}

.degrade {
    font-weight: 800;
    background: -webkit-linear-gradient(180deg, #4e536d 0%, #a8adc6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-yellow-title {
    background: $text-bg;
    font-weight: 500;
    text-align: center;
    line-height: 3.7rem;
}


.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}



.accordion-button::after {
	background-image: url("/public/image/global/plus-lg.svg");
}
.accordion-button:not(.collapsed)::after {
	background-image: url("/public/image/global/dash-lg.svg");

}


.color-background {
    background: #242424;
    z-index: -1;
    transition: all .4s ease-in-out;
    h2, p, .text-black-50  {
        color: white!important;
    }
    .section-title h1 {
        color: white!important;
        span {
            color: $dark!important;
        }
    }

    .btn-outline-dark {
        color: $yellow;
        border-color: $yellow;
        font-weight: 500;
        &:hover {
            background-color: $yellow!important;
            color: $dark!important;
        }
    }
    input {
        background-color: transparent!important;
        border-bottom: 3px solid #d1d1d1!important;
    }
    ul li {
        color: white!important;
    }
    .accordion-button  {
        color: white!important;
    }
    .accordion-body {
        color: rgba(255,255,255,.7)!important;
    }
}